# ===========================
# BACKEND GITIGNORE
# ===========================

# Environment variables (NEVER commit!)
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/
ENV/

# ML Models (too large for GitHub)
app/ml_models/
*.pth
*.pt
*.bin
*.onnx
*.h5
app/phikonv2/
*.safetensors
*.safetensors.index.json
*.json



# Distribution
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

node_modules/
.git
